<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <meta charset="UTF-8">
    <title>Vue Tunes</title>
</head>
<body>
    <div id="books">
        <div v-if="showBooks">{{ authorSearch }}</div>
        <input v-model="authorSearch"/>
        <button @click="search">Search for Author</button>
        <div v-for="result in results">
            <a :href="result.trackViewUrl">
                <img :src="result.artworkUrl100.replace('100x100bb', '300x300bb')"/>
                <div v-text="result.title"></div>
                <div v-html="result.description"></div>

            </a>
        </div>
        <div v-if="showTitle">{{ titleSearch }}</div>
        <input v-model="titleSearch"/>
        <button @click="searchTitle">Search for Book Title</button>
        <div v-for="result in results">
            <a :href="result.trackViewUrl">
                <img :src="result.artworkUrl100.replace('100x100bb', '300x300bb')"/>
                <div v-text="result.title"></div>
                <div v-html="result.description"></div>
            </a>
        </div>
        <div v-if="showAuthors">{{ searchAuthors }}</div>
        <input v-model="searchAuthors"/>
        <button @click="searchForAuthors">Get Authors and Id</button>
        <div v-for="result in results">
            <a :href="result.authorTerm"></a>
        </div>


    </div>


    <script src="app.js"></script>
</body>
</html>